@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #d5d2df;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1, 5rem;
  background-color: #1a1a4e;
}

.navbar .navbar-brand img {
  width: 25rem;
}

.navbar-collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar-nav li a:hover {
  background-color: #676a72;
  border-radius: 15px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.carousel .carousel-indicators {
  background-color: black !important;
}

.carousel .carousel-indicators .carousel-control-prev-icon {
  background-color: #212529 !important;
}

.carousel-inner {
  height: 30rem;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.inicio__intro {
  margin: 2.5rem 1.5rem;
  padding: auto;
  text-align: center;
}

.inicio__subtitulo {
  font-family: "Gill Sans" "Gill Sans MT" Calibri "Trebuchet MS" sans-serif;
  font-size: 2rem;
  text-align: center;
  padding-top: 3rem;
  margin: 2rem;
  padding-bottom: 0rem;
}

.inicio__texto {
  font-family: "Gill Sans" "Gill Sans MT" Calibri "Trebuchet MS" sans-serif;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  text-align: center;
  padding-top: 0rem;
}

/* formulario de Inicio*/
.form_wrap {
  margin: 3rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  background-image: url(../imagenes/cocinadefondo.jpeg);
}

.porque {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.porque__titulo {
  margin-bottom: 40px;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}

.porque__lista {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.30rem;
  margin-bottom: 20px;
  margin-top: 10px;
}

.porque__lista span {
  font-size: 2rem;
  height: 1rem;
  margin-right: 10px;
  margin-bottom: 5px;
}

/* formulario de Inicio*/
.main__lineaDeSeparacion {
  width: 300px;
  height: 5px;
  background-color: black;
  margin: 0 auto;
}

.main__nuestraTrayectoria {
  font-family: "Gill Sans" "Gill Sans MT" Calibri "Trebuchet MS" sans-serif;
  font-weight: lighter;
  text-align: center;
  font-size: 2rem;
  color: black;
  padding: 2rem 1rem 1rem 1rem;
}

.main__sobreNosotros {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem 1rem 2rem 1rem;
}

.main__ejemplos {
  padding: 2rem;
}

/*footer*/
footer {
  background-color: #676a72;
  border-top: black 5px solid;
  border-bottom: black 5px solid;
}

footer .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .redes__icono {
  padding: .5rem .7rem;
  width: 2rem;
  text-decoration: none;
  color: black;
  font-size: 27px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0.5rem;
}

footer .redes__copyright {
  font-family: "Gill Sans" "Gill Sans MT" Calibri "Trebuchet MS" sans-serif;
  font-size: 15px;
  text-align: center;
}

footer .extra__Contacto {
  font-family: "Gill Sans" "Gill Sans MT" Calibri "Trebuchet MS" sans-serif;
  font-weight: bolder;
  font-size: 1.5rem;
  text-align: center;
}

footer .extra__encontrarnos {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2rem;
  font-weight: lighter;
  text-align: center;
}

footer .extra__mapa {
  width: 100vw;
  height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .extra__mapa iframe {
  width: 100vw;
  height: 25vw;
}

/*footer*/
/*index*/
/*proyecto*/
.proyecto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.proyecto__div {
  padding: 25px;
  margin: 20px;
}

.proyecto__subtitulo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2.2rem;
  font-family: "Gill Sans" "Gill Sans MT" Calibri "Trebuchet MS" sans-serif;
  text-align: center;
  padding: 25px;
  min-width: 300px;
}

.proyecto__texto {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-family: "Gill Sans" "Gill Sans MT" Calibri "Trebuchet MS" sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding: 25px;
  min-width: 300px;
}

.Carta:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.Carta {
  background-color: #676a72;
  padding-bottom: 2rem;
}

.cartita {
  padding-bottom: 4rem;
}

.card__img {
  padding-top: 0.6rem;
}

.cardBody {
  background-color: #676a72;
  height: 100%;
  margin: 1rem;
}

.cardBody__titulo {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  color: #d5d2df;
}

.cardBody__texto {
  font-size: 1.5rem;
  font: kerning 1.2rem;
  text-align: center;
  color: #d5d2df;
  line-height: 1.9rem;
}

/*proyecto*/
/*servicio*/
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.servicio {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 25px;
  margin: 20px;
  min-width: 300px;
  margin-bottom: 0%;
}

.servicio__info {
  font-family: "Gill Sans" "Gill Sans MT" Calibri "Trebuchet MS" sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  background-color: #676a72;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #d5d2df;
}

.servicio__nuestros {
  font-family: "Gill Sans" "Gill Sans MT" Calibri "Trebuchet MS" sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-right: 3rem;
  margin-left: 3rem;
}

.servicio__herramienta {
  font-size: 90px;
  text-align: center;
  margin: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1rem;
}

.lista li {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  list-style-type: disc;
  font-size: 1.5rem;
  padding: 25px;
  margin: 20px;
}

section {
  margin: 1.5rem;
}

/*servicio*/
/*galeria*/
.galeria__titulo {
  font-size: 4rem;
  font-family: "Gill Sans" "Gill Sans MT" Calibri "Trebuchet MS" sans-serif;
  background-color: #676a72;
  color: #d5d2df;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: bolder;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  margin-top: 6rem;
}

.galeria__subtitulo {
  font-size: 2.2rem;
  font-family: "Gill Sans" "Gill Sans MT" Calibri "Trebuchet MS" sans-serif;
  text-align: center;
  margin: 3rem 3rem;
  margin-left: 2rem;
  padding-top: 1.5rem;
}

.galeria__texto {
  font-family: "Gill Sans" "Gill Sans MT" Calibri "Trebuchet MS" sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 1rem;
}

.fotos__nuestras {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 5rem 6rem 3rem;
}

.fotos__nuestras img {
  width: 21rem;
  height: 20rem;
  margin: 1rem 0.8rem;
  padding: 2rem 2rem 2rem 2rem;
}

.fotos__picture:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.fotos__picture {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

/*galeria*/
/* información de contacto*/
.contacto {
  font-size: 4rem;
  font-family: "Gill Sans" "Gill Sans MT" Calibri "Trebuchet MS" sans-serif;
  background-color: #676a72;
  color: #d5d2df;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: bolder;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  margin-top: 6rem;
}

.contacto__subtitulo {
  font-size: 2.2rem;
  font-family: "Gill Sans" "Gill Sans MT" Calibri "Trebuchet MS" sans-serif;
  text-align: center;
  margin: 3rem 3rem;
  margin-left: 2rem;
  padding-top: 1.5rem;
}

.contacto__texto {
  font-family: "Gill Sans" "Gill Sans MT" Calibri "Trebuchet MS" sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 2rem;
}

.formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 7em auto;
}

.contactoDeInfo::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.contactoDeInfo {
  width: 55%;
  position: relative;
  background: #77879b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.title {
  font-family: "Gill Sans" "Gill Sans MT" Calibri "Trebuchet MS" sans-serif;
  margin-bottom: 60px;
  font-size: 35px;
  text-align: center;
}

.fa-user {
  font-size: 100px;
  display: block;
  text-align: center;
  margin-bottom: 15px;
}

.infoItems p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.fa-envelope-square {
  font-size: 30px;
  margin-right: 10px;
}

.fa-phone-square {
  font-size: 30px;
  margin-right: 15px;
}

.formContact {
  width: 50%;
  padding: 30px 40px;
  background-color: #fff;
}

.formContact__h3 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 30px;
  padding: 1rem;
}

.formContact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.formContact__boton {
  background-color: #c0bec7;
  max-width: 10rem;
  padding: 15px;
  border: none;
  border-radius: 25px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.formContact__boton:hover {
  background-color: #acabaf;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.formContact label {
  font-weight: bold;
  font-size: 1rem;
}

.formContact input,
.formContact textarea {
  width: 100%;
  font-size: 1rem;
  border-bottom: 2px;
  padding: 8px 0px 5px;
}

/*contacto*/
/*404*/
.container-404 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Gill Sans" "Gill Sans MT" Calibri "Trebuchet MS" sans-serif;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error {
  text-align: center;
  background-color: #77879b;
  padding: 1rem 1rem;
  border-radius: 5px;
}

.error__boton {
  display: inline-block;
  text-decoration: none;
  background-color: #d5d2df;
  color: black;
  border-radius: 5px;
  padding: 1rem 2rem;
}

.fa-exclamation-triangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  margin: 1rem;
}

/*404*/
/*media*/
@media only screen and (max-width: 480px) {
  .contactoDeInfo {
    width: 100%;
  }
  .formContact {
    width: 100%;
  }
  .carousel-inner {
    margin: 0%;
    padding-top: 3rem;
    padding-bottom: 0%;
  }
  __intro {
    margin: 0%;
    padding: 0%;
  }
}

@media only screen and (min-width: 1024px) {
  .contactoDeInfo {
    width: 100%;
  }
  .formContact {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .contactoDeInfo {
    width: 100%;
  }
  .formContact {
    width: 100%;
  }
}
